@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom color */
/* .bg-primary{
  background-color: #023019;
} */
/* .primary-bg{
  background-color: #01201E;
} */
.primary-bg{
  background-color: #0c3835;
}